// Calculates a = x*y
// a is a local variable
// x & y are static variables

// Put your code here.


push static 0
push constant 0
eq
if-goto ZERO


push static 0
push constant 0
gt
if-goto POS


push constant 0
push static 0
sub
pop local 3
goto NEXT





label POS  // if postive
push static 0
pop local 3




label NEXT
push constant 0
pop local 0



label LOOP
push local 3
push constant 0
eq



if-goto JUDGE
push local 0
push static 1
add
pop local 0



push local 3
push constant 1
sub
pop local 3
goto LOOP



label ZERO
push constant 0
pop local 0




label JUDGE
push static 0
push constant 0
lt
if-goto NEG
goto END


label NEG

push constant 0
push local 0
sub
pop local 0



label END
goto END
