// Contains a function ArrMax.arrMax that finds and returns the largest element in the array a of length b.
// a & b are both supplied as arguments

// Put your code here.


function ArrMax.arrMax 2
push argument 1
push constant 1
lt
if-goto ZERO

push constant -32768
pop temp 0  //存的最大值

push constant 0
pop temp 1   //循环多少次了

push argument 1
pop temp 2        //数组有多长
goto LOOP


label LOOP
push temp 1  
push constant 1
add
pop temp 1        // 循环次数加一


             
push temp 2
push temp 1   //如果循环次数大于数组长度 去 DONE
lt
if-goto DONE


push argument 0   
push temp 1      //当前循环的数值
add
pop pointer 1
push that 0     //  获得数值
pop temp 3      //  推送到 temp 3 暂时储存


push temp 3  //临时数值
push temp 0     //当前最大数值
gt
if-goto UPDATE_MAX


goto LOOP

label UPDATE_MAX
push temp 3
pop temp 0      //更新最大值
goto LOOP


label DONE  // 遍历次数和长度一样了结束返回数值
push temp 0
return


label ZERO  // 数组没有数值
push constant 0
return