// Contains a function Fib.fib that calculates and returns the nth Fibonacci number recursively
// n is supplied as an argument

// Put your code here.

function Fib.fib 1
push argument 0      // push x in stack 
push constant 1      // push 1 in stack
lt                 // x<= 1
if-goto L1         // if x <=1 goto L1 lablel

push argument 0  // push x in stack 
push constant 1  //  push 1 in stack
sub             //  x -1 
call Fib.fib 1  // call  Fib.fib(x-1)

push argument 0  // push x in stack 
push constant 2  //  push 2 in stack
sub             // x-2 
call Fib.fib 1  // call  Fib.fib(x-2)

add             // add them
return      

label L1
push argument 0  // if lower than 1 push x  to stack 
return
