// Calculates x = (a + b) - x
// a & b are local variables
// x is a static variable

// Put your code here.

push local 0
push local 1
add           //a+b

push static 0
sub   // -x

pop static 0   // pop answer


label END
goto END